/* Import HTGA Styles */
@import "../htga-app/styles/htga.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #262626;
  --foreground: #ededed;
}

html {
  background-color: #262626;
  color: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  transition:
    background-color 0.2s,
    color 0.2s;
}

/* Dark Mode Styling for input fields and components */
input,
textarea,
select {
  background-color: #1a1a1a;
  color: #ededed;
  border-color: #404040;
}

input::placeholder,
textarea::placeholder {
  color: #808080;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  background: #c6a87c;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a67c37;
}

::-webkit-scrollbar-thumb:hover {
  background: #505050;
}

/* Remove text cursor/caret outside input fields */
* {
  caret-color: transparent;
}

/* Show cursor only in input fields */
input,
textarea,
[contenteditable="true"] {
  caret-color: auto;
}
